<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <section>
        <div class="row container">
            <div class="col-md-6">
                <h2 class="text-center">Edit Book</h2>
                <form action="/admin/edit-book/{{book._id}}" method="post" enctype="multipart/form-data" >
                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{book.name}}" class="form-control" required>

                    <label for="">Author</label>
                    <input type="text" name="author" value="{{book.author}}" class="form-control" required>

                    <label for="">Description</label>
                    <input type="text" name="description" value="{{book.description}}" class="form-control" required>

                    <label for="">Total Quantity</label>
                    <input type="text" name="totalQuantity" value="{{book.totalQuantity}}" class="form-control">

                    <label for="">Current Quantity</label>
                    <input type="text" name="currentQuantity" value="{{book.currentQuantity}}" class="form-control">

                    {{!-- <img src="/book-images/{{book._id}}.jpg" alt="" style="width: 60px;height:auto;">
                    <label for="">Image</label> --}}
                    {{!-- <input type="file" name="image" class="form-control"> --}}

                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </div>
        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>